{% extends 'ChecklistiChecklistBundle::layout.html.twig' %}

{% block title %}About{% endblock %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">About</h1>

    <p>This is a static about page</p>

{% endblock %}
