{% extends 'ChecklistiChecklistBundle::layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span12">
                <h2 id="slogan"></h2>
                <h1>{{sitename}}</h1>
                <hr id="hr">
                <h2 id="slogan"><i class="icon-ok"></i> {{tagline}}</h2>
                <hr id="hr2">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-message">
                        <em>Notice</em>: {{ flashMessage }}
                    </div>
                {% endfor %}
                <div class="main col-centered span6">
                    <div class="row">
                        <div class="span6">
                            <h2 id="">WELCOME</h2>
                            <fieldset>
                                <label class="checkbox"><input type="checkbox" id="" value="option69"><strong>TODO: </strong>Finish building Checklisti. It's cool - we're almost done.</label>

                            </fieldset>
                        </div><!--end of span6-->
                    </div> <!-- end of row -->
                </div>  
            </div> <!-- end span12 -->
        </div><!-- end row -->
    </div><!-- end container -->
{% endblock %}


