{% extends 'ChecklistiChecklistBundle::layout.html.twig' %}

{% block title %}About{% endblock %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">Default static page</h1>

    <p>This is the defauilt static page</p>

{% endblock %}
