<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}Checklisti{% endblock %} - Checklisti</title>

      {% block meta_description %}<meta name="description" content="">{% endblock %}
      {% block meta_keywords %}<meta name="keywords" content="">{% endblock %}
      {% block meta_author %}<meta name="author" content="">{% endblock %}

      {% block stylesheets %}{% endblock %}
      <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      {% block body %}{% endblock %}
      {% block javascripts %}{% endblock %}
    </body>
</html>

