{% extends 'ChecklistiChecklistBundle::layout.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block main %}
    <div class="main">
        <div class="row">
            <div class="span6">
                <h2 id="">MAKE A NEW CHECKLIST</h2>
                {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }} <!--TODO: Remove novalidate tag -->
            </div><!--end of span6-->
        </div> <!-- end of row -->
    </div>  
{% endblock %}
