{% extends 'ChecklistiChecklistBundle::layout.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1 class="title">checklist index</h1>

    <p>Your stuff goes here</p>
    <ul>
        {% for result in results %}

            <li>
                <a href="{{ path('_checklist_edit', {'id': result.id}) }}">{{ result.title|e }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
