{% extends 'ChecklistiChecklistBundle::layout.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block content %}
  <h1 class="title">checklist new</h1>

  <p>Your stuff goes here</p>

  {{ form(form) }}
{% endblock %}
